<header class="header">
  <div class="logo-title">

    <span><a href="home">FPT</a> </span>
    <h3 class="link-title"> <a href="home"> FaculdadePraTodos </a> </h3>

  </div>
  <div class="search">
    <input type="text" placeholder="DIGITE O ID OU TÍTULO" />
    <a href="#">
      <mat-icon>search</mat-icon>
    </a>
  </div>
  <div class="links">
    <ul>
      <li> <a href="#">Explore</a> </li>
      <li> <a href="#">Cadastre-se</a> </li>
      <li> <a href="#">Login</a> </li>
    </ul>
    <a href="#">Campanha</a>
  </div>
</header>
