.header {
  min-width: 1065px;
  height: 70px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-link {
      color: #ffff;
    }

    span {
    width: 64px;
    height: 36px;
    background: #0d0d30;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    }

    .logo-link-title {
      margin: 0;
      font-size: 36px;
      font-weight: 400;
    }

  }

  .search {
    display: flex;
    align-items: center;
    input {
      width: 237px;
      height: 27px;
      padding: 0 5px;
      margin: 0 8px;
      border: 2px solid #000000;
      border-radius: 10px;
    }

    .search-icon {
      display: flex;
    }

  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    .link-item {
      display: flex;
      justify-content: center;
    }
    a {
      color: #3c3c3c;
    }

    .link-item-campaign {
      background: #0acf83;
      border-radius: 15px;
      border: 1px solid black;
      font-size: 14px;
      padding: 6px 10px;
      margin: 0 10px;
      transition: 0.4s;
      a {
        color: #ffff;
      }
    }

    .link-item-campaign:hover {
      background: #0ef59d;
      cursor: pointer;
      a {
        color: #ffff;
      }
    }
  }

  .links span:first-child,
  .links span:nth-child(3) {
    margin: 0 15px;
  }

  .links span:nth-child(2) {
    min-width: 100px;
  }
}
