<header class="header">
  <div class="logo-title">
    <span><a class="logo-link" href="home">FPT</a> </span>
    <p class="logo-link-title"><a class="logo-link" href="home"> FaculdadePraTodos </a></p>
  </div>
  <div class="search">
    <input type="text" placeholder="DIGITE O ID OU TÍTULO" />
    <a href="#">
      <mat-icon class="search-icon">search</mat-icon>
    </a>
  </div>
  <div class="links">
      <span class="link-item"><a href="#">Explore</a></span>
      <span class="link-item"><a href="#">Cadastre-se</a></span>
      <span class="link-item"><a href="#">Login</a></span>
      <span class="link-item-campaign"
        matTooltip="Clique para fazer o pré-cadastro"
        matTooltipClass="custom-tooltip">
        <a href="#">Pré-Cadastro</a></span>
  </div>
</header>