<mat-card class="student-card">
  <mat-card-header>
    <div class="card-title">
      <span class="card-college-name">
        Sistemas para internet - FAM
      </span>
      <span class="card-monthly-value">
        Valor mensal R$: 150,00
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-photo">
      Imagem
    </div>
    <div class="card-footer">
      <div class="footer-history">
        Apresentação e história história Apresentação e história história Apresentação e história história Apresentação e história história Apresentação e história história Apresentação e história história
      </div>
      <div class="footer-more">
       ver mais +
      </div>
    </div>
  </mat-card-content>
</mat-card>
