
.nav-bar {
  background-image: url('../../../../assets/images/together-2450090_19202.png');
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-bar-inputs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
    input {
      margin: 25px;
      width: 302px;
      height: 26px;
      border: 2px solid #000000;
      border-radius: 10px;
      padding: 0 8px;
      font-size: 13px;
    }
  }

  .nav-bar-btn {
    display: flex;
    justify-content: center;
    background: #0ACF83;
    width: 360px;
    border-radius: 10px;
    transition: 0.4s;
    border: 1px solid black;
  }

  .nav-bar-btn:hover {
    background: #10e895;
  }

  .nav-bar-btn a {
    font-size: 16px;
    color: #ffffff;
    padding: 5px 0;
  }
}
